<!-- <div class="max-w-sm rounded overflow-hidden shadow-lg border border-gray-200">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ breed.name }}</div>
    <p class="text-gray-700 text-base">{{ breed.origin }}</p>
  </div>

  <img
    class="w-full h-48 object-cover"
    [src]="breed | breedImage"
    [alt]="breed.image"
  />

  <div class="px-6 py-4 mt-2">
    <h4 class="font-semibold">{{ breed.temperament }}</h4>
    < class="text-gray-700">
    <br />
    <div class="flex flex-wrap mt-2">
      <span
        *ngFor="let name of breed.characters.split(',') | slice : 0 : 3"
        class="bg-blue-500 text-white text-sm font-semibold mr-2 px-2.5 py-0.5 rounded"
      >
        {{ name }}
      </span>
    </div>
  </div>

  <hr class="border-gray-200 my-4" />
</div> -->
